.header {
    width: 1000px;
    border: 2px solid red;
    margin-left: 129px;
    background: #1F2937;
    display: flex;
    gap: 10px
}

.header div {
    border: 2px solid red;
    color: #F9FAF8;
    font-style: "extra-bold";
    flex: 0 1 auto;
}
.Header-Logo {
    margin-left: 12%;
    font-size: 20px;
}
.header-link-one {
    margin-left: auto;
    font-size: 13px;
}
.header-link-two {
    font-size: 13px;
}
.header-link-three {
    font-size: 13px;
    margin-right: 12%;
}

.container-header {
    width: 1000px;
    border: 2px solid red;
    padding-top: 7%;
    padding-bottom: 7%;
    background: #1F2937;
    margin-left: 129px;
    display: flex;
}

.container-header div {
    border: 2px solid pink;
    color: white;
    width: 35%;
}
.Header-body {
    margin-left: 12%;
}
.Header-body strong {
    font-size: 48px;
}
.img-place-holder {
    margin-left: auto;
    margin-right: 12%;
    flex: 1;
}

.middle-one {
    background: white;
    border: 2px solid red;
    width: 1000px;
    margin-left: 129px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.middle-one div {
    flex: 1 0 100%;
    border: 1px solid red;
    text-align: center;
}
.middle-one li {
    list-style: none;
    border: 1px solid red;
    flex: 0 1 15%;
    margin-top: 5%;
    margin-bottom: 8%;
}
.middle-one img {
    justify-content: center;
    width: 95%;
    height: 70%;
    border: 2px solid black;
}
body {
    background-color: black;
}