body {
    background: black;
}

.container-header {
    width: 1000px;
    margin: auto;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
}

.container-header div {
    border: 2px solid pink;
    flex: 0 1 auto;
}

.container-header:nth-child(5) {
    background-color: black;
}

body {
    background-color: white;
}